---
http_interactions:
- request:
    method: get
    uri: http://api.tvmaze.com/singlesearch/shows?q=Arrow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":4,"url":"http://www.tvmaze.com/shows/4/arrow","name":"Arrow","type":"Scripted","language":"English","genres":["Drama","Action","Adventure","Science-Fiction"],"status":"Running","runtime":60,"premiered":"2012-10-10","schedule":{"time":"20:00","days":["Wednesday"]},"rating":{"average":7.9},"weight":12,"network":{"id":5,"name":"The
        CW","country":{"name":"United States","code":"US","timezone":"America/New_York"}},"webChannel":null,"externals":{"tvrage":30715,"thetvdb":257655,"imdb":"tt2193021"},"image":{"medium":"http://tvmazecdn.com/uploads/images/medium_portrait/75/189983.jpg","original":"http://tvmazecdn.com/uploads/images/original_untouched/75/189983.jpg"},"summary":"<p>After
        a violent shipwreck, billionaire playboy Oliver Queen was missing and presumed
        dead for five years before being discovered alive on a remote island in the
        Pacific. He returned home to Starling City, welcomed by his devoted mother
        Moira, beloved sister Thea and former flame Laurel Lance. With the aid of
        his trusted chauffeur/bodyguard John Diggle, the computer-hacking skills of
        Felicity Smoak and the occasional, reluctant assistance of former police detective,
        now beat cop, Quentin Lance, Oliver has been waging a one-man war on crime.</p>","updated":1474627561,"_links":{"self":{"href":"http://api.tvmaze.com/shows/4"},"previousepisode":{"href":"http://api.tvmaze.com/episodes/647412"},"nextepisode":{"href":"http://api.tvmaze.com/episodes/836110"}}}'
  recorded_at: Fri, 23 Sep 2016 16:27:56 GMT
recorded_with: VCR 3.0.3
